apiVersion: v1
kind: Service
metadata:
  name: springboot-app
spec:
  type: {{ .Values.service.type }}
  selector:
    app: springboot-app
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    nodePort: {{ .Values.service.nodePort }}

